  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li>
            <a href="~/">
                <i class="fa fa-book"></i> <span>Trang chủ</span>
            </a>
        </li>

        <li class="treeview active">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Quản lý dữ Liệu</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Category"><i class="fa fa-circle-o"></i> Loại Hàng</a></li>
                <li><a href="~/Supplier"><i class="fa fa-circle-o"></i> Nhà Cung Cấp</a></li>
                <li><a href="~/Customer"><i class="fa fa-circle-o"></i> Khách Hàng</a></li>
                <li><a href="~/Shipper"><i class="fa fa-circle-o"></i> Người Giao Hàng</a></li>
                <li><a href="~/Employee"><i class="fa fa-circle-o"></i> Nhân Viên</a></li>
                <li><a href="~/Product"><i class="fa fa-circle-o"></i> Mặt Hàng</a></li>
            </ul>
        </li>

        <li class="treeview active">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Quản Lý Bán Hàng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Order"><i class="fa fa-circle-o"></i> Danh Mục Đơn Hàng</a></li>
                <li><a href="~/Order/Create"><i class="fa fa-circle-o"></i> Lập Đơn Hàng</a></li>
            </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>