@{

}
<style>
    .centered-content {
        width: 100%; 
        height: 100vh; 

        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .error img {
        width: 100px;
        height: 100px;
        margin-left: 100px;
    }

    .error h1 {
        font-size: 20px;
        text-align: center;
    }
</style>

<div class="centered-content">
    <div class="error">
        <img src="~/themes/dist/img/warning.png" />
        <h1></h1>
        <h3>Bạn không có quyền truy cập</h3>
    </div>
</div>
